@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* targets the highest level parent or basically, the root of the document tree. */
:root {
  --lighter: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
  --background: #191923;
}

body {
  width: 100%;
  background-color: var(--background);
  color: #fff;
}

.secondary {
  color: #01be96;
}

/* //scroll bar style */

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  } */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
